<%= stylesheet_link_tag 'registration' %>
<nav class="register">
  <%= link_to root_path, class: 'arrow-link' do %>
    <i class="fa fa-solid fa-arrow-left"></i>
  <% end %>
  <h2>TRANSACTIONS(exps)</h2>
</nav>

<p style="color: green"><%= notice %></p>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
  <% end %>
</div>

<div class='button-outline'>
  <%= link_to "ADD A NEW TRANSACTION", new_group_expense_path, class: 'add-button' %>
</div>
